RewriteEngine On
RewriteBase /DriverLux/

# 1. Se o cara acessar a raiz purinha, joga pra home
RewriteRule ^$ public/index.php [L]

# 2. Se o arquivo ou pasta não existir, manda pra public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]