RewriteEngine On
RewriteBase /DriverLux/public/

# Se não for um arquivo ou pasta real dentro da public...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...entrega para o index.php tratar a rota
RewriteRule ^ index.php [L]