RewriteEngine On

# LIBERA ARQUIVOS REAIS (css, js, imagens)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# RESTO VAI PARA O INDEX
RewriteRule ^ index.php [QSA,L]